.title-bar {
  display: flex;
  justify-content: space-between;
  background: #3c4e62;
  height: 48px;
  align-items: center;
}

.back-arrow {
  margin: 12px 0 12px 28px;
}

.title {
  font: normal normal 600 20px/20px Quicksand;
  color: #fff;
  text-transform: capitalize;
  margin-left: 150px;
}

.progress {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  background: #3fd28b;
  border: none;
  border-radius: 2px;
  height: 28px;
  width: 90px;
  font: normal normal 600 16px/18px Quicksand;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 19px 5px 19px;
  margin-right: 16px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}

.btn:hover {
  background: #1f7a54;
}

.steps {
  background: #fff;
  border-radius: 2px;
  height: 56px;
  margin: 24px;
  /* margin: auto; */
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
}

.cnt {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font: normal normal 500 16px/20px Quicksand;
  letter-spacing: 0px;
  color: #fff;
  background: #757575;
  margin-right: 8px;
}

.linee {
  height: 1px;
  background: #000;
  opacity: 0.12;
  margin-bottom: 8px;
  width: 32rem;
}

.active {
  background: #3fd28b;
}

.first,
.sec,
.last {
  display: flex;
  align-items: center;
}

.info {
  font: normal normal 600 16px/20px Quicksand; 
  columns: #222;
}
