.personal-info {
    padding: 24px;
    display: flex;
    background: #fff 0% 0% no-repeat padding-box;
    border-radius: 2px;
    margin: 24px 24px 32px 24px;
}

.left-input {
    flex: 50%;
    padding: 10px;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.input-label {
    font: normal normal 600 12px/16px QuickSand;
    letter-spacing: 0px;
    color: #666;
    margin-top: 40px;
    margin-bottom: 12px;
}

.firstLabel {
    margin-top: 0;
}

.input-element {
    outline: none;
    border: none;
    width: auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.38);
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font: normal normal 700 16px/20px QuickSand;
    letter-spacing: 0px;
    color: #222;
    padding-bottom: 4px;
}

.country-code {
    display: inline;
    width: 22px;    
    margin-right: 4px;
    text-align: center;
}


.checkbox-label {
    display: inline-block;
    cursor: pointer;
    margin-top: 12px;
    font: normal normal 700 16px/20px QuickSand;
    color: #222;
}

.checkbox-group {
    height: 24px;
    width: 18px;
    accent-color: rgba(31, 122, 84, 1);
    margin-right: 8px;
    height: 24px;
    width: 18px;
}


.checkbox-container {
    display: flex;
    align-items: center;
}

.symbolPlus{
    font: normal normal 700 16px/20px QuickSand;
    letter-spacing: 0px;
    color: #222;
}

.upload-resume {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.upload-resume img {
    margin-right: 8px;
    cursor: pointer;
}

.input-file {
    display: none;
}    

.resume-text {
    font: normal normal 600 14px/18px QuickSand;
    letter-spacing: 0px;
    color: #1f7a54;
    text-transform: uppercase;
    cursor: pointer;
}

.right-input {
    flex: 50%;
    display: flex;
    justify-content: flex-end;
}

.upload-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-img {
    width: 115px;
    height: 115px;
}

.profile-text{
    font: normal normal 600 12px/14px QuickSand;
    color: #1f7a54;
    margin-top: 16px;
    margin-bottom: 8px;
}

.img-size {
    font: normal normal 600 10px/13px QuickSand;
    color: #757575;
}

.next-section{
    padding-bottom: 30px;
}

.btn{

    background: #3fd28b 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 5px #0000003d;
    border-radius: 2px;
    height: 28px;
    width: 90px;
    cursor: pointer;
    margin: 0 auto 0 auto;
    font: normal normal 600 16px/18px QuickSand;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 27px 5px 27px;
    text-transform: uppercase;
}

.isReview{
    border:none;
}